In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = pd.read_excel("teste2.xlsx")

In [ ]:
data.head(20)

In [ ]:
data.describe()

In [ ]:
data['letters']

In [ ]:
data.dtypes

In [ ]:
data.loc[2:5]
new_data=data.loc[data['letters']=='a']

In [ ]:
data.isnull().sum()

In [ ]:
data.dropna(axis=0, inplace=True)

In [ ]:
thesis_grades={'grades':['Adri','Ulisses','Pedro'],'Grade_1':[10,9,9]}

In [ ]:
gradesDF=pd.DataFrame(thesis_grades)
gradesDF

In [ ]:
filter=gradesDF.loc[gradesDF['Grade_1']>9]

In [ ]:
athletes=pd.read_csv("Forbes_athletes.csv")

In [ ]:
athletes.head()

In [ ]:
athletes['Nationality'].value_counts()

In [ ]:
athletes.dtypes

In [ ]:
missing_data=athletes.isnull().sum()

In [ ]:
print(missing_data)

In [ ]:
y=athletes['earnings ($ million)']

In [ ]:
x=athletes

In [ ]:
x.drop('earnings ($ million)',axis=1,inplace=True)